<div class="message-form js-message-form">
  <textarea autofocus class="message-form--input js-message-form--input"></textarea>
  <button class="message-form--submit js-message-form--submit">Send</button>
</div>